requests==2.22.0
Flask_SQLAlchemy==2.4.1
bandcamp_downloader==0.0.1
mutagen==1.44.0
watchdog==0.10.2
Flask==1.1.2
Flask_Mail==0.9.1
app==0.0.1
bandcamp_dl==0.4
beautifulsoup4==4.9.0
discogs_client==2.2.2
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
Pillow==7.1.1
python-dotenv==0.13.0
wordcloud==1.6.0
