<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description"
		content="online ambient radio playing atmospheric abstract electronic, experimental & psychedelic music">
	<meta name="keywords"
		content="abstract, ambient, atmospheric, electronic, experimental, psychedelic, underground, alternative, avantgarde, electroacoustic music. online radio, online audio stream">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161911289-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-161911289-1');
	</script>
	<title>atma.fm - ambient & electronic</title>
</head>

<body>

	<header>
		{% include 'partials/navbar.html' %}
	</header>

	<section class="player-box">
		<br>
		<span class="player-txt">[ independent underground online radio ]</span>
		<br>
		<small> channel 1 </small>
		<br>
		<br>
		<div class="player-button">
			<button id="bt-txt" class="player-button-txt" onclick="toggle_play()">listen now</button>
			<button class="button" style="border: none;" onclick="toggle_play()"><i id="bt-icon"
					class="fa fa-volume-up player-button-icon"></i></button>
		</div>
		<div class="player-button">
			<button class="player-button-txt" onclick=location.href="{{ stream_base_url }}/channel1-128k.mp3.m3u">download m3u</button>
			<button class="button" style="border: none;"
				onclick=location.href="{{ stream_base_url }}/channel1-128k.mp3.m3u">
				<i class="fa fa-file-audio-o player-button-icon"
					aria-hidden="true"></i></button>
		</div>
		<audio id="player">
{#                <source src="{{ stream_base_url }}/channel1-128k.mp3">#}
                <source src="/channel1-128k.mp3">


		</audio>
		<hr class="player-hr", width=50% >
		<small class="player-current" > currently playing </small>
		<br>
		<small >[ {{ author }} - {{ title }} ]</small>
	</section>
	{% block content %}{% endblock %}
	<script src="{{ url_for('static', filename='js/play.js')}}"> </script>
	<script src="{{ url_for('static', filename='js/colapse.js')}}"> </script>
	<script src="https://kit.fontawesome.com/37c4968eb2.js" crossorigin="anonymous"></script>
</body>

</html>