<nav class="main-navbar">
  <a href="{{ url_for('home') }}"><small class="menu-link">home</small></a>
  <a href="{{ url_for('about') }}"><small class="menu-link">about</small></a>
  <a href="{{ url_for('channels') }}"><small class="menu-link">channels</small></a>
  <a href="{{ url_for('playlists') }}"><small class="menu-link">playlists</small></a>
  <a href="{{ url_for('archive') }}"><small class="menu-link">archive</small></a>
  <a href="{{ url_for('contact') }}"><small class="menu-link">contact</small></a>
  <a href="{{ url_for('support') }}"><small class="menu-link">support</small></a>
</nav>