<div id="support" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSupport()">&times;</a>
  <div class="overlay-content">
    <p class="overlay-text">you can buy me a coffee to support my servers spinning.<br>
      this is a 100% hobby project but it takes quite a bit of time, effort and money to keep it up.
       <br>
       <br>
      you should also consider supporting the artists via bandcamp, discogs, amazon or any other way.
      <br> they are the real heroes here. </p>
  </div>
</div>

<div id="contact" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeContact()">&times;</a>
  <div class="overlay-content">
    <p class="overlay-text">you can hit me up on facebook or contact me via this form.
      <br>
      i will probably reply.
    </p>
  </div>
</div>

<div id="archive" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeArchive()">&times;</a>
  <div class="overlay-content">
    <h1 class="overlay-h">page under construction << </h1>
  </div>
</div>

<div id="about" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeAbout()">&times;</a>
  <div class="overlay-content">
    <p class="overlay-text">
      atma.fm is an experimental radio project focusing on ambient & electroacoustic music broadcasting bullshit-free audio streams from the magic city prague. the playlist is quite diverse and is probably best expressed with the soundwave-like word cloud on the main page. there are currently two separated channels set up for the stream.
      <br><br>
      ambient is a very underrated genre and many people do not even know such music exists. there are only a few dedicated radios as far as i know. it is quite a shame because its hypnotizing effect can evoke extremely powerful, psychedelic and almost spiritual experiences.
      <br><br>
      all of this is a one-man show do-it-yourself kind of thing. it is built from scratch on icecast linux server. i have been collecting ambient music from a very young age and the idea of creating a web streamer came naturally as soon as i figured out how to type on a keyboard.
      <br><br>
      because it is such a small niche i would like to involve more people, both artists and fans, and open it to the community. if you wanna be a part, feel free to contact me    </p>
  </div>
  </p>
</div>
</div>

<div id="channels" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeChannels()">&times;</a>
  <div class="overlay-content">
    <p class="overlay-text">
      there are currently two broadcasting channels.
      <br>
      <br> 
      <b>channel-1</b> is streaming more lightweight ambient. the typical sound is spacy, atmospheric, chilling, 
      meditative, drony, yet sometimes slightly more provocative and experimental to make you feel alive. 
      the direct server stream is <a href="https://atma.fm/channel1-128k"> here </a> and
        the m3u can be downloaded <a href="http://144.91.73.167:7778/channel1-128k.m3u"> here </a>
      <br>
      <br> 
      <b>channel-2</b> is serving more of darkwave, dark ambient, neoclassic/gothic sound.
       it may sometimes be quite doomy, weird and creepy, but it never goes too far into industrial, noise or power electronic.
       it also brings much more acoustic songs.
       the direct server stream is <a href="https://atma.fm/channel2-128k"> here </a> and
       the m3u can be downloaded <a href="http://144.91.73.167:7778/channel2-128k.m3u"> here </a>
    <br>
    <br>
    overall i would say, these two guys complement each other - 
    bright, light and tranquil moods mixed with dark and doomy ones, surrounding you by phantoms of all shapes and kinds, 
    both angelic and devilish. just pick the one that fits your current mood.
    </p>
  </div>
  </p>
</div>
</div>




<nav class="main-navbar">
  <small class="menu-link" onclick="openAbout()"> about</small>
  <small class="menu-link" onclick="openChannels()">channels</small>
  <small class="menu-link" onclick="openPlaylists()">playlists</small>
  <small class="menu-link" onclick="openArchive()">archive</small>
  <small class="menu-link" onclick="openContact()">contact</small>
  <small class="menu-link" onclick="openSupport()">support</small>
</nav>