<div id="support" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSupport()">&times;</a>
  <div class="overlay-content">
    <h4 class="overlay-h"> support </h4>
    <p class="overlay-text">if you enjoy the music you can <a href="https://www.buymeacoffee.com/atmafm"
        target="_blank">buy me a coffee</a> to support the servers spinning.<br>
      this is a 100% hobby project but it takes quite a bit of time, effort and money to keep it up.
      <br>
      <br>
      you should also consider supporting the artists via bandcamp, discogs, amazon or any other way.
      <br> they are the real heroes here.
    </p>
  </div>
</div>

<div id="contact" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeContact()">&times;</a>
  <div class="overlay-content">
    <h4 class="overlay-h"> contact </h4>
    <p class="overlay-text">you can hit me up on <a href="https://www.facebook.com/atma.fm" target="_blank">
        facebook</a>.
      <br>
      i will most likely reply.
    </p>
  </div>
</div>

<div id="archive" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeArchive()">&times;</a>
  <div class="overlay-content">
    <br>
    <br>
    <h1 class="overlay-h">page under construction << </h1>
  </div>
</div>

<div id="playlist" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closePlaylist()">&times;</a>
  <div class="overlay-content">
    <br>
    <br>
    <h1 class="overlay-h">page under construction << </h1>
  </div>
</div>

<div id="about" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeAbout()">&times;</a>
  <div class="overlay-content">
    <h4 class="overlay-h"> about </h4>
    <p class="overlay-text">
      atma.fm is an underground radio focusing on ambient and experimental electroacoustic music broadcasting
      bullshit-free audio streams from the magic city prague. the playlist is quite diverse and is probably best
      expressed with the soundwave-like word cloud on the main page. there are currently two channels set up
      for the stream. more about them is in a separated section.
      <br><br>
      ambient is a very underrated genre and many people do not even know such music exists. there are only a few
      dedicated radios as far as i know. it is quite a shame because its hypnotizing effect can evoke extremely
      powerful, psychedelic and almost spiritual experiences. i am a huge fan of ambient music and this is why i've
      built this radio.
      <br><br>
      all of this is a one-man show do-it-yourself kind of thing - i coded it from scratch on icecast linux server,
      manually handpicked all the songs etc.. having been collecting ambient music from a very young age, the idea of
      creating a web streamer came naturally as soon as i figured out how to type on a keyboard.
      <br><br>
      because it is such a small niche, i would like to involve more people in this project, both
      artists and fans, and open it to the community.
      <br>
      if you wanna be a part, feel free to contact me
    </p>
  </div>
  </p>
</div>
</div>

<div id="channels" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeChannels()">&times;</a>
  <div class="overlay-content">
    <h4 class="overlay-h"> channels </h4>
    <p class="overlay-text">
      there are currently two broadcasting channels.
      <br>
      <br>
      <b>channel-1</b> is streaming traditional lightweight ambient. the typical sound is spacy, atmospheric, chilling,
      meditative, drony, yet sometimes pulls up slightly more provocative experimental to wake you up and make you feel
      alive.
      the direct server stream is <a href="https://atma.fm/channel1-128k" target="_blank"> here </a> and
      the m3u file can be downloaded <a href="http://144.91.73.167:7778/channel1-128k.m3u"> here </a>
      <br>
      <br>
      <b>channel-2</b> is streaming more of darkwave, dark ambient, neoclassic/gothic sound.
      it may be quite doomy, weird and creepy, but it never goes too far into industrial, noise or power electronics. it
      also plays more acoustic-based songs.
      the direct server stream is <a href="https://atma.fm/channel2-128k" target="_blank"> here </a> and
      the m3u file can be downloaded <a href="http://144.91.73.167:7778/channel2-128k.m3u"> here </a>
      <br>
      <br>
      these two channels complement each other.
      <br>
      light and tranquil moods are mixed with dark and doomy ones, surrounding you with phantoms of all shapes and
      kinds, both angelic and devilish.
      <br>
      the playlists on both channels are ever-evolving, new tracks are being added regularly. if you got some music that should be
      played here, feel free to contact me.

    </p>
  </div>
  </p>
</div>
</div>




<nav class="main-navbar">
  <small class="menu-link" onclick="openAbout()"> about</small>
  <small class="menu-link" onclick="openChannels()">channels</small>
  <small class="menu-link" onclick="openPlaylist()">playlist</small>
  <small class="menu-link" onclick="openArchive()">archive</small>
  <small class="menu-link" onclick="openContact()">contact</small>
  <small class="menu-link" onclick="openSupport()">support</small>
</nav>