body {
    background-color: black
}

/* player box - global for each page the same */

.player-box {
    width: 330px;
    height: 320px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    border: 1px solid rgb(30, 30, 30);
    text-align: center;
    color: rgb(231, 211, 211);
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
}

.player-txt {
    margin-top: 30px;
}

.player-button {
    display: inline-block;
}

.player-button-txt {
    display: block;
    font-family: 'Tomorrow', sans-serif;
    border: none;
    text-align: center;
}

/* global wrapper for each page, the content will come inside - except index.html becaue there is the logo pic */

.content-box {
    min-height: 300px;
    /* margin-top: 70px; */
    margin-bottom: 70px;
    margin-left: 500px;
    width: 66%;
    font-family: 'Tomorrow', sans-serif;
    /* color: rgb(231, 211, 211); */
    color: rgb(130, 130, 130);
    font-size: 13px;
    font-weight: 200;
}

/* playlist table style */

.playlist th {
    color: rgb(231, 211, 211);
    border-bottom: 1pt solid;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    font-weight: 2000;
    line-height: 12px;
    padding: 4px 5px 4px 5px;
}

.playlist td {
    color: rgb(231, 211, 211);
    border-bottom: 0;
    font-family: 'Tomorrow', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;
    padding: 3px 5px 3px 5px;
}

/* contact form style */

#selection {
    font-family: 'Tomorrow', sans-serif;
}

input[type="email"] {
    font-family: 'Tomorrow', sans-serif;
    font-size: 13px;
    font-weight: 200;
}

textarea {
    font-family: 'Tomorrow', sans-serif;
    font-size: 13px;
    font-weight: 200;
}

.form-label {
    color: rgb(231, 211, 211);
    font-size: 13px;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 200;
}

.form-button {
    border: 0px;
}

.msg-sent{
    font-size: 14px; 
    text-align: center;
    border: 1px solid;
    color: rgb(231, 211, 211);
    border-radius: 2px;
}

/* archive - under construction page style */

.under-construction {
    min-height: 200px;
    margin-left: 500px;
    color: rgb(30, 30, 30);
}

@media (max-width:500px) {
    .content-box {
        margin-left: 30px;
        width: 330px;
    }
}

/* navbar style */

nav {
    position: absolute;
    right: 35px;
    border-top-style: groove;
    border-top-color: rgb(231, 211, 211);
    border-top-width: 1pt;
    font-family: 'Tomorrow', sans-serif;
}

.menu-link {
    text-decoration: none;
    color: grey;
    font-size: 2.0vw;
    font-size: 2.0vh;
    margin-left: 2.0vw;
}

a {
    text-decoration: none;
}

/* background image style */


img{
    max-width:100%;
    max-height:100%;
}

