<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>Index</title>
</head>

<body>   
    <h1 align="center">online radio</h3> 
    <h2 align="center">experimental electronic music</h3> 
    <h3 align="center">electroacoustic, industrial online stream</h3> 
    <h4 align="center">pagan folk, dark folk, apocalyptic folk and related</h3> 
    <p align="center" style="color:white">experimental online audio project</p> 
    
    <a href="http://127.0.0.1:5000/radio"><center><img src="{{ url_for('static', filename='img/play.png') }}" height="50" width="50"></center></a>

<!--       
    <script src="{{ url_for('static', filename='js/change_img.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"> </script>  -->

</body>
</html>