<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  <title>atma.fm</title>
</head>

<body>


  <!--PLAYER-->
  <div class="row">
    <div class="three columns" style="border:1px #ccc groove">
      <div class="player" >
        <h6>experimental broadcast</h6>
        <audio id="player" controls>
          <source src="http://167.172.122.236:8000/atma.fm" , type="mp3"></audio>
        <br>
        <br>
        <small>[ download <a href="http://167.172.122.236:8000/atma.fm.m3u"
            style="color:white; text-decoration:none">m3u
          </a> for an audio player ]
        </small>
        <br><br><br>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
    <!--IMAGE-->
    <div class="logo" style="text-align: center;">
      <img src="{{ url_for('static', filename='img/logo.png') }}">
    </div>

    <!--NAVBAR-->
    <div class="menu" style="float: right;">
      <a href="#" style="color:rgb(231, 211, 211); text-decoration:none"><small>home</small></a>
      <a href="#" style="color:rgb(231, 211, 211); text-decoration:none; margin-left:30px"><small>about</small></a>
      <a href="#" style="color:rgb(231, 211, 211); text-decoration:none; margin-left:30px"><small>playlist</small></a>
      <a href="#" style="color:rgb(231, 211, 211); text-decoration:none; margin-left:30px"><small>archive</small></a>
      <a href="#" style="color:rgb(231, 211, 211); text-decoration:none; margin-left:30px"><small>contact</small></a>
    </div>

  </div>
</body>

</html>