<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
  <title>atma.fm</title>
</head>

<body>   
  <div class="content">
    <h3>experimental broadcast</h12>   
     <h5>[ still under construction, but should be working... download <a href="http://167.172.122.236:8000/atma.fm.m3u" style="color:white; text-decoration:none">m3u file</a> to listen via audio player ] </h5>
     <audio id="player" controls>
          <source src="http://167.172.122.236:8000/atma.fm", type="">
      </audio>
  </div>

<br><br><br><br><br>

  <div class="logo" style="text-align: center;">
    <img src="{{ url_for('static', filename='img/logo.png') }}" height="472" width="1238">
  </div>
</body>
</html>