body{
    background-color: black
}

.player-box{
    width: 330px;
    height: 320px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    border: 1px solid rgb(30, 30, 30);
    text-align: center;
    color: rgb(231, 211, 211);
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;   
}

.player-txt{
    margin-top: 30px;
}

.player-button{
    display: inline-block;
} 

.player-button-txt{
    display: block;
    font-family: 'Tomorrow', sans-serif;
    border: none;
    text-align: center;
} 