body{
    background-color: black
}

.player{
    text-align: center;
    color: rgb(231, 211, 211);
    padding-top: 50px;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
}

.songs{
    text-align: left;
    color: rgb(231, 211, 211);
    padding-top: 255px;
    padding-left: 255px;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px; 
    list-style-type: none;
}

.menu{
    float: right; 
    border-top-style: groove; 
    border-top-color: #fff; 
    border-top-width: 1px
}

a{
    color:white; 
    text-decoration:none;
}

a:hover{
    color:red;
}


img {
    text-align: center;
    display:block;
    /* max-width: 100%; */
    height: auto;
    width: auto\9; /* ie8 */
    max-width:100%;
    max-height:100%;
}

.full-width-container {
    margin-top: 4cm;
    margin-bottom: 4cm;
    margin-right: 4cm;
    margin-left: 4cm;
    } 
