body{
    background-color: black
}

.full-container{
    max-height: 1000px;
}

.player{
    text-align: center;
    color: rgb(231, 211, 211);
    padding-top: 50px;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    margin-top: 1cm;
}

.player-button{
    /* border: 1px solid rgb(50, 50, 50);  */
    display: inline-block;
    /* margin-top: 1px; */
    /* padding: 1px; */
    text-align: center;
}

.player-button-txt{
    display: block;
    font-family: 'Tomorrow', sans-serif;
}

nav {
    position: absolute;
    right: 35px;  
    border-top-style: groove; 
    border-top-color: rgb(231, 211, 211); 
    border-top-width: 1pt;
    font-family: 'Tomorrow', sans-serif;
}

.menu-link{
    text-decoration: none;
    color:grey 
}

a{
    text-decoration: none;
}

img {
    /* text-align: center; */
    /* display:block; */
    /* height: auto; */
    /* width: auto\9; ie8 */
    max-width:100%;
    max-height:100%;
    /* position: relative; */
} 


.box{
    padding-top: 350px;
    padding-left: 400px;

    /* width: 80%; */
    /* color: rgb(231, 211, 211);
    font-family: 'Tomorrow', sans-serif;
    font-size: 12px;
    font-weight: 200; */
    border: solid 1px;
}

.playlist th {
    color: rgb(231, 211, 211);
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    font-weight: 2000;
    line-height: 12px;
    padding: 10px 23px 10px 23px;
  }

.playlist td {
    color: rgb(231, 211, 211);
    border-bottom: 0;
    font-family: 'Tomorrow', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;
    padding: 3px 23px 3px 23px;
  }

  .form-label{
    color: rgb(231, 211, 211);
    font-size: 13px;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 200;
  }

