{% extends "layout.html" %}
{% block content %}
<!-- <div class="box about form-label"> -->
<div class="content-box">
  <p align="justify">this is a personal audio streaming project focusing on non-mainstream non-commercial ambient related & electroacoustic music. it is not rigidly devoted to one particular substyle/subgenre as might other online radio channels be - dronezone on soma.fm, ambientartsound, etc. - these guys are too good and there is no point to mimic them or compete with them. on the contrary, the spectrum of tunes that one can stumble upon here is fairly eclectic & wide and is probably best expressed with the wave sound-like word cloud on the main page.</p>
  <p align="justify">all the tracks are ripped to 192 kbps, 44100 kbps, and all ran through an audio loudness normalization algorithm to fit the current broadcasting standards defined in ebu 128.</p>
  <p  align="justify" style="font-size: 10">[ all of this is essentially a do-it-yourself project written from scratch on top of icecast using python, javascript, c/c++ & many other technologies that i fell in love with ]</p>
</div>
{% endblock content %}